{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Scrumboard</title>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'scrumboard/css/main.css' %}" />
{% endblock %}

{% block content %}
          <div ng-app="scrumboard.demo">
            {% verbatim %}
            <div ng-controller="ScrumboardController">
              <a href="lists" target="_blank" class="top-menu">Lists</a>
              <a href="cards" target="_blank" class="top-menu">Cards</a>
              <a class="btn float-right" ng-click="login()">Login</a>
              <a class="btn float-right" href="/auth_api/logout">Logout</a>
              <br>
              <hr>
              <div class="block list" ng-repeat="list in data">
                <h3>{{list.name}}</h3>
                <ul>
                  <li ng-repeat="card in list.cards">
                    <scrumboard-card></scrumboard-card>
                  </li>
                </ul>
                <div class="flex">
                  <input class="form-control" type="text" ng-model="new_title">
                  <button class="btn" ng-click="add(list, new_title)">+</button>
                </div>
              </div>
            </div>
            {% endverbatim %}
              <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
              <script type="text/javascript" src="{% static 'scrumboard/js/scrumboard.js' %}"></script>
              <script type="text/javascript" src="{% static 'directives/scrumboard/card.directive.js' %}"></script>
          </div>
{% endblock %}
