{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Scrumboard</title>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'scrumboard/css/main.css' %}" />
{% endblock %}

{% block content %}
          <div ng-app="scrumboard.demo">

            <ng-view></ng-view>

              <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
              <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
              <script type="text/javascript" src="{% static 'scrumboard/js/scrumboard.js' %}"></script>
              <script type="text/javascript" src="{% static 'configurations/scrumboard/scrumboard.config.js' %}"></script>
              <script type="text/javascript" src="{% static 'directives/scrumboard/card.directive.js' %}"></script>
          </div>
{% endblock %}
