<div class="card" ng-hide="edit" ng-click="edit=true">
  <h5>{{ card.title }}</h5>
  <span class="description">{{ card.description }}</span>
</div>
<div class="card" ng-show="edit" ng-model-options="modelOptions">
  <div class="flex">
    <label class="col-form-label"><strong>Title:&nbsp;</strong></label>
    <input class="form-control" type="text" ng-model="card.title" ng-change="update()">
  </div>
  <textarea class="form-control" ng-model="card.description" ng-change="update()" placeholder="Enter description.."></textarea>
  <div class="btn-group custom-width" role="group">
    <button class="btn" ng-click="edit=false">Close</button>
    <button class="btn" ng-click="delete()">Delete Card</button>
  </div>
  <hr>
    <div class="input-group">
      <!-- <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">List:&nbsp;</label>
      </div> -->
      <select ng-options="list as list.name for list in data" ng-model="destList" class="custom-select" id="inputGroupSelect01">
      </select>
      <!-- <div class="input-group-append">
        <button ng-click="move()" class="btn" type="button">Move</button>
      </div> -->
      <div class="input-group-append">
        <button ng-click="move()" class="btn" type="button" style="margin-top: 0;">Move</button>
      </div>
    </div>
</div>
